<% if current_user() %>
    <% if @random_website %>
        <% upvote_url = upvote_path(@random_website) %>
        <% downvote_url = downvote_path(@random_website) %>
        <% if @success.nil? %>
            <h1 class="text-center">Do you find this webpage design attractive?</h1>
        <% elsif @success == 'true' %>
            <h2 class="text-center">Hey, thanks for voting, keep on going.</h2>
        <% else %>
            <h2 class="text-center">Hm, looks like something went wrong - but keep on going anyway.</h2>
        <% end %>
        <div class="website-holder">
            <form action="" method="get">
                <div class="vote-buttons vote-buttons-top text-center">
                    <button type="button" class="btn btn-primary vote-button vote-downvote" title="downvote" data-url="<%= downvote_url %>">
                        <span class="glyphicon glyphicon-thumbs-down"></span>
                    </button>
                    <button type="button" class="btn btn-primary vote-button vote-upvote" title="upvote" data-url="<%= upvote_url %>">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                    </button>
                </div>
                <div class="website"<% if @random_website.screenshot %>style="background: url('<%= @random_website.screenshot %>') no-repeat;"<% end %>>
                    <div class="website-half-image vote-downvote" data-url="<%= downvote_url %>">
                        <div class="overlay">
                            <span class="glyphicon glyphicon-thumbs-down character"></span>
                        </div>
                    </div>
                    <div class="website-half-image vote-upvote" data-url="<%= upvote_url %>">
                        <div class="overlay">
                            <span class="glyphicon glyphicon-thumbs-up character"></span>
                        </div>
                    </div>
                </div>
                <div class="vote-buttons vote-buttons-bottom text-center">
                    <button type="button" class="btn btn-primary vote-button vote-downvote" title="downvote" data-url="<%= downvote_url %>">
                        <span class="glyphicon glyphicon-thumbs-down"></span>
                    </button>
                    <button type="button" class="btn btn-primary vote-button vote-upvote" title="upvote" data-url="<%= upvote_url %>">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                    </button>
                </div>
                <div class="text-center link-to-website">
                    <%= link_to @random_website.url, @random_website.url, :target => "_blank" %>
                </div>
            </form>
        </div>
    <% else %>
        <h2 class="text-center">Whoooaah, looks like there's no more websites to vote for :(</h2>
        <h2 class="text-center">But thanks for your help. srsly! ;)</h2>
    <% end %>
<% else %>
    <h1 class="text-center">
        Please login with Facebook to play.
        <%= link_to "Click to login", "/auth/facebook", id: "sign_in" %>.
    </h1>
<% end %>
